@model IEnumerable<JayMayNN3.Models.Survey>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MotherID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ward)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Race)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviousPremature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitOBGYN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StressLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Smoker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilySmoker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlcoholConsumption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyAlcoholConsumption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrugUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyDrugUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChronicIllness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GovAssit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Income)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Education)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RiskScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterventionID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MotherID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ward)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Race)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreviousPremature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitOBGYN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StressLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Smoker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilySmoker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlcoholConsumption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyAlcoholConsumption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrugUsage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyDrugUsage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChronicIllness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GovAssit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Income)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Education)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RiskScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterventionID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
